$title-red: #FF0202;
$grade-3-red: #e02222;
$card-dark-red: #B82C2C;
$form-red-pale: #ED8585;
$text-grey: #454545;
$card-grey: #747474;
$form-light-grey: #D2D2D2;
$light-black: #292929;
$background-grey: #E9E9E9;
$card-gold: #EBC43D;
$form-button: #FFECAC;
$card-green: #A0ED85;

h1,h2,h3,h4{
    font-family: poppins, Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;

    background-image: url('./Images/Frame\ 1.png');
    background-repeat: repeat;
    background-size: auto; 

    overflow: scroll;

    min-height: 100vh;
    height: 100%;
}

button{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.main-container{
    height: 98vh;
    width: 95%;
    min-width: 330px;
    max-width: 880px;
    padding: 15px 15px 0 15px;
    box-sizing: content-box;
    text-align: right;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title-wrapper{
    width: 100%;
    margin-top: 10px;
    text-align: right;

    .title{
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-weight: Bold;
        font-size: 32px;
        color: $title-red;
        margin: -20px 0;
        text-transform: uppercase;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    width: 100%;
    max-width: 400px;

    button{
        padding: 6px 6px;
    }
    .nav-button:nth-child(3){
        color: $grade-3-red;
    }    
    .nav-button{
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1px;
        color: $text-grey;

        display:inline-block
    }
    .nav-button:after{
        margin-top: -2px;
        display:block;
        content: '';
        border-bottom: solid 3px $grade-3-red;  
        transform: scaleX(0);  
        transition: transform 100ms ease-in-out;
    }
    .nav-button:hover:after { transform: scaleX(1); 
    }
    .nav-button.fromLeft:after{  
        transform-origin:  0% 50%; 
    }

}

.content-cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


        .card{
            position: relative;
            width: 115px;
            height: 133px;
            background: #fff;
            border-radius: 5px;
            margin: 20px 15px;
            box-shadow: 10px 3px 14px -10px #d0cdcd;
            font-family: poppins,Arial, Helvetica, sans-serif;

            //Icon
            .card-icon-select{
                position: absolute;
                top: -20%;
                background-repeat: no-repeat;
                background-position: center;
                height: 52px;
            }
            .entity-icon{
                background-image: url('./Images/entity-mid.png');
                width: 55px;
                left: 28%;
            }
            .character-icon{
                background-image: url('./Images/character-mid.png');
                width: 39px;
                left: 35%;
            }
            .player-character-icon{
                background-image: url('./Images/player-character-mid.png');
                width: 46px;
                left: 32%;
            }

            .card-data-wrapper{
                position: relative;
                top: 20%;
                left: 0%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                p{
                    padding: 0;
                    margin: 0;
                }
                .initiative-title{
                    color: $card-grey;
                    font-weight: 500;
                    font-size: 14px;
                }
                .initiative-value{
                    color: $card-gold;
                    font-weight: 600;
                    font-size: 16px;
                }
                .card-name{
                    display: inline-flex;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 16px;

                    .card-title{
                        color: $light-black;
                    }
                    .card-id{
                        color: $card-dark-red;
                    }
                }

                .card-hitpoints{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .hitpoints-bar-wrapper{
                        width: 75px;
                        height: 3px;
                        overflow: hidden;

                        .green-bar{
                            position: relative;
                            width: 50%;
                            height: 3px;
                            background-color: $card-green;
                            z-index: 1;
                        }
                        .red-bar{
                            top: -3px;
                            position: relative;
                            width: 100%;
                            height: 3px;
                            background-color: $grade-3-red;
                        }
                    }
                    .hitpoints-wrapper{
                        display: inline-flex;

                        .hitpoints-title{
                            margin-right: 5px;
                            color: $card-grey;
                            font-weight: 500;
                        }
                        .hitpoints-value{
                            font-weight: 600;
                            color: $light-black;
                        }    
                    }
                }

            }
        }
}  

.form-wrapper{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    min-width: 365px;
    max-width: 400px;
    height: auto;
    background: #fff;
    border-radius:  5px 5px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 3px 14px -10px #d0cdcd;

    .form-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 12px 8px 0 8px;

        .title{
            width: 260px;
            min-width: 260px;
            padding-bottom: 3px;
            h2{
                text-align: left;
                font-size: 24px;
                font-weight: 500;
                border-bottom: 2px solid $form-red-pale;
                padding-bottom: 2px;
            }
        }
        .close-form{
            width: 32px;
            height: 32px;
    
            .cross-bar{
                width: 30px;
                height: 3px;
                background-color: $grade-3-red;
            }
            .cross-bar:nth-child(1){
                position: relative;
                transform: rotate(45deg);
            }
            .cross-bar:nth-child(2){
                position: relative;
                top: -3px;
                transform: rotate(-45deg);
            }
            
        }
    }
    .entity-select-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;

        .form-type-select{
            height: 85px;
            width: 80%;
            padding: 20px 10px 10px 10px;
            display: flex;
            justify-content: space-between;
            
    
            .form-radio-label{
                width: 30%;
                display: flex;
                flex-direction: column;
                
                img{
                    float: 0 50%;
                    align-self: center;
                    margin-bottom: 6px;
                }
                input{
                    width: 0px;
                    height: 0px;
                    opacity: 0;
                }
                .form-radio-text{
                    display: inline-block;
                    font-family: poppins,Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    color: $form-light-grey;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    line-height: 13px;
                    width: 100%;
                    overflow: hidden;
                }
                .radio-text-select{
                    color: $light-black;
                    padding-bottom: 2px;
                }
                .entity-text-border:after{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 33px;
                    padding-top: 3px; 
                    border-bottom: 2px solid $card-gold;
                }
                .character-text-border:after{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 63px;
                    padding-top: 3px; 
                    border-bottom: 2px solid $card-gold;
                }
                .pc-text-border:after{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 63px;
                    padding-top: 3px; 
                    border-bottom: 2px solid $card-gold;
                }
            }
        }
    }
    .entity-form-data{
        display: flex;
        flex-direction: column;

        .entity-form-data-row{
            display: flex;
            flex-direction: row;
            margin-bottom: 26px;

            .input-common{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-family: poppins, Arial, Helvetica, sans-serif;
                margin-right: 25px;
    
                label{
                    font-weight: 500;
                    font-size: 16px;
                    color: $card-grey;
                    padding-bottom: 5px;
                }
                input{
                    border: none;
                    border-bottom: 2px solid $card-gold;
                    color: $light-black;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: poppins, Arial, Helvetica, sans-serif;
                    padding: 0;
                    text-align: center;
                }
    
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                }
                input[type=number] {
                    -moz-appearance:textfield; /* Firefox */
                }
            }
            .entity-name-field{
                input{
                    width: 97px;
                }
            }
            .entity-auto-id-field{
                input{
                    width: 70px;
                }
            }
            .entity-amount-field{
                margin-right: 0px;
                input{
                    width: 146px;
                }
            }
            .entity-hitpoints-field{
                margin-right: 48px;
                input{
                    width: 74px;
                }
            }
            .entity-initiative-bonus-field{
                input{
                    width: 125px;
                }
            }
        }
    }
    .form-create-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: $form-button;
        color: $light-black;
        font-family: poppins,Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 24px;

    }
}


