//Colors
$main-red: #FF0202;
$dark-red: #B82C2C;
$soft-red: #e02222;
$pink: #ED8585;
$dark-grey: #454545;
$mid-grey: #747474;
$light-grey: #D2D2D2;
$gold: #EBC43D;
$light-yellow: #FFECAC;
$green: #A0ED85;
$background-grey: #E9E9E9;
$text-black: #292929;
$charcoal-black: #454545;

//Fonts med/semi-bold/bold
@mixin flex-col{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}



@font-face {
    font-family: poppins-m;
    src: url("./fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: poppins-sb;
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: poppins-b;
    src: url("./fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{ //Removed default Margin & Padding .. Default Font
    margin: 0;
    padding: 0;

    font-family: helvetica;
}

button{
    border: 0;
    background: none;
}

form, #hitpointsContainerID{ //Temporary
    display: none;
}

body{
    @include flex-col;
    align-items: center;
    width: 100vw;
    min-width: 375px;
    background-image: url('./Images/background.png');
    background-repeat: repeat;
    background-size: auto; 
}

.container{
    @include flex-col;
    align-items: center;
    position: fixed;

    width: 100%;
    min-width: 375px;
    
    max-width: 1024px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;


    color: $text-black;
}

header{
    width: 90%;
    min-width: 337px;
    max-width: 890px;
    position: fixed;
    @include flex-col;
    align-items: center;

    .title{
        width: 100%;
        @include flex-row;
        justify-content: flex-end;

        h1{
            width: 50%;
            line-height: .8;
            color: $main-red;
            font-family: poppins-b, Arial, Helvetica, sans-serif;
            font-size: 2rem;
            font-weight: 700;
            text-align: right;
        }
    }

    nav{
        width: 100%;
        max-width: 450px;
        margin: 25px 0;
        box-sizing: content-box;

        @include flex-row;
        flex-direction: row;
        justify-content: space-around;

        .navB{
            font-family: poppins-b, Arial, Helvetica, sans-serif;
            font-size: 1.25rem;
            color: $text-black;
        }
        .navB:hover{
            color: $soft-red;
        }
    }
}

.card-content{
    position: relative;
    top: 120px;
    overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-width: 2px;
    height: 84vh;

    width: 100vw;
    padding: 0 10vw;

    max-width: 900px;

    justify-content: center;

    @include flex-row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0  5px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .card{
        @include flex-col;
        align-items: center;
        position: relative;

        text-align: center;
        box-sizing: border-box;
        width: 115px;
        height: 133px;
        background: #fff;
        border-radius: 5px;
        margin: 27px 15px 20px 15px;
        box-shadow: 10px 3px 14px -10px #d0cdcd;
        padding-top: 25px;

        p{
            margin: 0;
            padding: 0;
        }

        .initiativeLabel{
            font-family: poppins-m, Arial, Helvetica, sans-serif;
            color: $mid-grey;
            font-size: 14px;
        }
        .initiativeValue{
            position: relative;
            font-family: poppins-sb, Arial, Helvetica, sans-serif;
            color: $gold;
            font-size: 18px;
            top: -5px;
        }
        .name{
            display: flex;
            position: relative;
            max-width: 90px;
            top: -8px;
            word-spacing: 1px;

            .truncate{
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-shrink: 1;
                font-family: poppins-m, Arial, Helvetica, sans-serif;
                color: $charcoal-black;
                font-size: 16px;
            }

            .hexColor{
                font-family: poppins-m, Arial, Helvetica, sans-serif;
                color: $dark-red;
                font-size: 16px;
                flex-shrink: 0;
            }
        }

        .hpLabel{
            font-family: poppins-m, Arial, Helvetica, sans-serif;
            color: $mid-grey;
            font-size: 16px;
            padding-right: 4px;
        }
        .hpValue, .hpValueOriginal{
            font-family: poppins-m, Arial, Helvetica, sans-serif;
            color: $charcoal-black;
            font-size: 16px;
        }

        .hpTextWrapper{
            position: relative;
            top: -5px;
            @include flex-row;
        }

        .hpBarWrapper{
            position: relative;
            top: -9px;
            width: 75px;
            height: 3px;

            .redBar{
                top: 1px;
                width: 100%;
                height: 100%;
                position: relative;
                background-color: $main-red;
            }
            .greenBar{
                top: -2px;
                width: 50%;
                height: 100%;
                position: relative;
                background-color: $green;
            }
        }

        .entityIcon{
            position: absolute;
            top: -20%;
            right: 26%;
            background-image: url('./Images/icon-entity.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 55px;
            height: 51px;
            z-index: 1;
        }
        .characterIcon{
            position: absolute;
            top: -21%;
            right: 33%;
            background-image: url('./Images/icon-char.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 38px;
            height: 52px;
            z-index: 1;
        }
        .playerCharacterIcon{
            position: absolute;
            top: -20%;
            right: 30%;
            background-image: url('./Images/icon-palyer.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 46px;
            height: 52px;
            z-index: 1;
        }
    }
}

.form-content{
    @include flex-col;
    justify-content: flex-end;
    background: lightcoral;
    width: 100vw;
    height: 100%;
    display: none;
    z-index: 1;

    form{
        box-sizing: border-box;
        background-color: #fff;
        padding: 20px;
    }

    .createForm{
        @include flex-col;
        width: 100%;
        height: 400px;

        .topLayer{
            @include flex-row;
            justify-content: space-between;
            padding-bottom: 20px;

            .characterFormTitle{
                font-family: poppins-m;
                font-size: 24px;
                color: $dark-grey;
                border-bottom: 3px solid $pink;
            }
            .formCloseButton{
                .bar{
                    position: relative;
                    top: -2px;
                    left: 1px;
                    display: block;
                    width: 36px;
                    height: 3px;
                    background-color: $soft-red;
                    transform: rotate(45deg);
                }
                .bar:nth-child(1){
                    top: 1px;
                    left: 1px;
                    transform: rotate(-45deg);
                }
            }
        }
        .midLayer{
            .entity-type{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                .formTypeLabel{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80px;
                    height: 76px;
                    margin: 0 20px;

                    img {
                        max-width: 100%;
                        height: auto;
                    }                      
                    input{
                        opacity: 0;
                    }
                    input[type="radio"]:checked ~ p {
                        color: $dark-grey;
                        font-family: poppins-sb, Arial, Helvetica, sans-serif;
                    }
                    input[type="radio"]#entityID:checked + img {
                        content: url('./Images/icon-entity-red-sm.png');
                    }
                    input[type="radio"]#characterID:checked + img {
                        content: url('./Images/icon-char-red-sm.png');
                    }
                    input[type="radio"]#playerCharacterID:checked + img {
                        content: url('./Images/icon-player-red-sm.png');
                    }
                    .createFormLabelText{
                        display: inline-block;
                        font-family: poppins-m, Arial, Helvetica, sans-serif;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: $mid-grey;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        line-height: 13px;
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
            .entity-details{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;


                .formInputWrapper{
                    text-align: center;
                    margin-right: 15px;
                    margin-bottom: 10px;

                    label{
                        font-family: poppins-m, Arial, Helvetica, sans-serif;
                        color: $mid-grey;
                    }
                    input{
                        width: 100%;
                        text-align: center;
                        font-family: poppins-m, Arial, Helvetica, sans-serif;
                        font-size: 1.15rem;
                        border: none;
                        border-bottom: 2px solid $gold;
                    }
                }
            }
        }
    }
}
  




