*{
    font-family: poppins, Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background: darkgrey;
    flex-direction: column;
}
.errorMsg{
    height: 1.3rem;
    font-size: .7rem;
    margin: 0;
    padding: 0;
}
input:disabled {
    opacity: 1;         /* Keeps the input fully opaque */
    background-color: white;  /* Keeps the background white */
    color: black;       /* Keeps the text color black */
}

form{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

//All fields Empty

#entityAmountItem, #hitPointsItem, #intBonusItemInput, #entityAmountItemInput, #hitPointsItemInput, #intBonusItemInput{
    display: none;
}

.card-content{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 150px;
        background: #fff;
        margin: 5px;
        
        p{
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .entityCard{
        background: lightcoral;
    }
    .characterCard{
        background: lightblue;
    }
    .playerCharacterCard{
        background: lightgreen;
    }
}

.hitpointsContainer{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: lightblue;
    z-index: 1;

    .hitpointsLabel{
        display: flex;
        flex-direction: row;

        h4{
            width: 100%;
            color: red;
        }
        #hitpointsCurrent{text-align: right;}
        #hitpointsOriginal{text-align: left;}
    }
}


.hpBarWrapper{
    position: relative;
    width: 80px;
    height: 4px;
    padding: 0;
    border: 0;

    .redBar{
        position: relative;
        width: 80px;
        height: 4px;
        background-color: red;
    }
    .greenBar{
        position: relative;
        top: -4px;
        width: 100%;
        height: 4px;
        background-color: green;
    }

}
.hpTextWrapper{
    display: flex;
    flex-direction: row;
}